*{
    margin: 0;
    padding: 0;
}

.section_body{
    margin: 0px 117px;
}


/* Header Section */


/* Topic */

.header_section{
    /* border: 3px solid blue; */
    top: 0px;
    color: white;
    height: 35vh;
    width: 100%;
    box-sizing: border-box;
    padding: 37px 117px;
    /* background-color: rgba(253, 89, 13, 0.868); */
    background-image: linear-gradient(to bottom right, orange, orangered);
}



.icon_image{
    width: 14px;
    height: 14px;
    position: relative;
    top: 3px;
    margin-right: 4.5px;
    filter: brightness(2);
    filter: invert(1);
}

.header_star_image{
    width: 60px;
    height: 15px;
    opacity: 1.5;
    filter: brightness(3);
    position: relative;
    top: 2px;
}

.card{
    /* height: 700px; */
    width: 320px;
    border: 1px solid white;
    box-shadow: 0px 0px 4px 1px orangered;
    float: right;
    position:sticky;
    top: 50px;
    right: 117px; 
    bottom: 20px;
    z-index: 10000;
}


.heading{
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    width: 500px;
    /* border: 3px solid green; */
    font-weight: bold;
    font-size: 40px;
    line-height: 70px;
}

.tagline{
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    width: 800px;
    /* border: 3px solid red; */
    font-weight: bold;
    font-size: 17px;
}

.rating{
    margin-top: 10px;
    font-family: 'Encode Sans', sans-serif;
    font-size: 14px;
}


.description{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 400px;
    /* border: 3px solid purple; */
}

.description_heading_content{
    font-family: 'Encode Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
}



/* Header Section on Scrolling */

.header_selector{
    transition: all 0.5s ease-out;
}

.sticky{
    position:fixed;
    top: 0px;
    color: white;
    height: 80px;
    width: 100%;
    /* box-sizing: border-box; */
    padding: 0px 117px;
    /* background-color: rgba(253, 89, 13, 0.868); */
    background-image: linear-gradient(to bottom right, orange, orangered);
    z-index: 1000;
}

.sticky_created_by{
    display: none;
}

.sticky_heading{
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    width:500px;
    /* border: 3px solid green; */
    font-weight: bold;
    font-size: 30px;
    margin-top: -10px;
}

.sticky_tagline{
    display: none;
}

.sticky_rating{
    margin-top: -10px;
    font-family: 'Encode Sans', sans-serif;
    font-size: 14px;
}

.sticky_description{
    display: none;
}


/* Section - Course Contents and Recommendations */


/* Course Contents */
.contents{
    margin: 50px 117px 50px 0px;
    width: 700px;
    height: auto;
    border: 1px solid orangered;
    box-shadow: 0.5px 0.5px 2px 0.5px orange;
    padding: 30px;
    border-radius: 6px;
}

.contents_topic{
    font-family: 'Arvo', serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content_points{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.content_points_li{
    list-style-type: "🎉";
    line-height: 0;
    margin: 15px 20px;
}


/* Course Recommendations */



.recommendations{
    margin: 10px 100px 50px 0px;
    width: 700px;
    height: auto;
    border: 1px solid orangered;
    box-shadow: 0.5px 0.5px 2px 0.5px orange;
    padding: 19px 30px;
    border-radius: 5px;
}


.recommendations_topic{
    font-family: 'Arvo', serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.recommendation_points{
    display: flex;
    list-style: none;
}

.recommendation_points_li{
    line-height: 0;
    margin: 15px 20px;
}


/* Section - Course Contents Menu */

.course_menu_topic{
    font-family: 'Arvo', serif;
    margin: 0px 0px 10px 0px;
    font-size: 30px;
}


.menu{
    width: 765px;
    height: auto;
    border: 1px solid orangered;
    box-shadow: 0.5px 0.5px 2px 0.5px orange;
    margin-bottom: 45px;
    border-radius: 2px;
}

.timing_main{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 550;
    font-size: 16px;
    float: right;
    width: auto;
    margin-right: 50px;
}

.timing_collapsible{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 16px;
    float: right;
    width: auto;
    margin-right: 50px;
}

/* Inside Course Contents Menu - Collapsible CSS */


.collapsible_image{
    height: 16px;
    width: 16px;
    margin-right: 7px;
    position: relative;
    top: 2px;
}

.collapsible-text>ul>li>img{
    height: 18px;
    width: 18px;
    margin-right: 3px;
    position: relative;
    top: 4px;
}

.collapsible{
    max-width: 765px;
    overflow: hidden;
    font-weight: 500;
}


.collapsible input{
    display: none;
}


.collapsible label{
    font-size: 17px;
    position: relative;
    font-weight: 550;
    background: #fff;
    border-top: 1px solid orange;
    display: block;
    margin-bottom: 0px;
    cursor: pointer;
    padding: 15px 0px 15px 20px;
    z-index: 1;
}

.collapsible label::after{
    content: "";
    position: absolute;
    right: 15px;
    top: 15px;
    width: 18px;
    height: 18px;
    background: url('../images/drop_down_icon.png');
    background-size: contain;
    transition: all 0.4s ease;
}

.collapsible-text{
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -110%;
    opacity: 0.5;
    margin-left: 30px;
    transition: all 0.4s ease;
}

.collapsible input:checked ~ .collapsible-text{
    max-height: 300px;
    padding-bottom: 25px;
    background: #fff;
    opacity: 1;
    top: 0;
}

input:checked + label{
    background-color: rgb(255, 248, 234);
}


.collapsible input:checked + label:after{
    transform: rotate(90deg);
}

.collapsible>label:hover{
    background-color: rgb(255, 248, 234);
}




.collapsible-text h2{
    margin-bottom: 10px;
    padding: 15px 10px;
    color: #1c1c6b;
}

.collapsible-text p{
    padding-left: 15px;
    padding-left: 15px;
}

.collapsible-text ul{
    margin-top: 15px;
}



/* Section- Requirements and Course Description */

/* Requirements */

.requirements{
    /* border: 3px solid green; */
    margin-bottom: 45px;
    width: 760px;
    
}

.requirements_heading {
    font-family: 'Arvo', serif;
    font-size: 30px;
    /* margin-bottom: 20px; */
}



.requirements_content_list{
    list-style: disc;
    margin-bottom: 30px;
}

.requirements_content_list li{
    margin: 7px 25px;
}

/* Description */

.description, .instructor{
    /* border: 3px solid blue; */
    margin-bottom: 45px;
    width: 760px;
    line-height: 23px;
}


.description_heading, .instructor_heading, .explore_heading{
    font-family: 'Arvo', serif;
    font-size: 30px;
    margin-bottom: 11px;
}

/* Inside Decscription - Who is This Course For */

.who_is_this_for_heading{
    font-family: 'Arvo', serif;
    margin-top: 45px;
    margin-bottom: 11px;
    font-size: 30px;
}

.who_is_this_for_contents_list{
    list-style: disc;
}


.who_is_this_for_contents_list li{
    margin: 7px 25px;
}

/* Inside Description - Show More and Show Less  */


.show_more_text{
    display: none;
}


/* Show More and Show Less Button Format */
.show_more_button, .show_less_button{
    margin-top: 10px;
    font-size: 14px;
    background-color: white;
    border: none;
    cursor: pointer;
    font-weight: 1000;
    color: rgb(209, 59, 4);
}

.show_more_button{
    margin-top: 1px;
}


.blur
{
    z-index: 1;
    height: auto;
    color: transparent;
    box-shadow: 0px -1px 50px 20px white;
}


/* Section - Instructor */

/* Note - The CSS of .instructor_heading have been merged with .description_heading to avoid redundancy */
/* Note - The CSS of .instructor have been merged with .description to avoid redundancy */
.instructor_card{
    /* border: 2px solid blue; */
    display: flex;
    margin: 20px 10px;
}

.instructor_rating ul{
    list-style: none;
}

.instructor_rating ul li{
    font-weight: bold;
    line-height: 33px;
    margin: 0px 30px;
}

.instructor_rating ul li:nth-child(1){
    color: rgb(203, 60, 8);
    font-size: 21px;
}


.instructor_rating ul li img, .explore_card_text>p>img{
    width: 60px;
    height: 15px;
}



.instructor_image img{
    width: 100px;
    height: 100px;
}


/* Section - Explore */
/* Note - The CSS of .explore_heading have been merged with .description_heading to avoid redundancy */

.explore{
    /* border: 3px solid blue; */
    margin-bottom: 45px;
    width: 800px;
}


.explore_box{
    /* border: 3px solid blue; */
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.explore_cards{
    /* border: 3px solid green; */
    box-shadow: 1px 1px 5px 1px rgb(244, 183, 70);
    cursor: pointer;
    height: 250px;
    width: 240px;
    transition: transform 0.1s ease-in;
}

.explore_cards:hover{
    transform: scale(1.009);
}

/* Section - Reviews */

.reviews{
    margin-bottom: 45px;
}

.reviews_heading{
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Arvo', serif;
}

.reviews_heading>img{
    width: 100px;
    height: 25px;
}

.reviews_content{
    /* border: 3px solid blue; */
    width: 820px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews_card{
    border-top: 1px solid orangered;

    height: 150px;
    width: 370px;
}

.reviews_card_heading{
    margin: 10px 20px 15px 20px;
}

.reviews_card_heading img{
    width: 60px;
    height: 15px;
    position: relative;
    top: 2.5px;
}

.reviews_card_heading h3{
    font-size: 20px;
    text-align: center;
}

.reviews_card_heading h5{
    font-size: 15px;
    text-align: center;
}

.reviews_card_content{
    font-size: 17px;
    margin: 10px 10px;
}


/* Section - Card */

.card_text{
    margin: 5px 25px;
}

.card_text > h1{
    font-size: 40px;
}

.card_text>h4{
    font-size: 18px;
    margin: 17px 0px;
}

.card_text>ul{
    font-size: 15px;
    list-style: none;
}

.card_text>ul>li{
    margin: 8px 10px;
}

.card_text>p{
    margin: 15px 0px 0px 0px;
    text-align: center;
    font-size: 14px;
}

.buy_now, .add_to_cart{
    margin: 5px 0px;
    width: 100%;
    height: 50px;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 1000;
}
.buy_now:hover{
    background-color: rgb(255, 217, 145);
}

.add_to_cart{
    background-color: orange;
    color: white;
    margin: 15px 0px 0px 0px;
}

.add_to_cart:hover{
    background-color: rgb(220, 154, 31);
}

.card_image{
    width: 320px;
    height: 209px;
    cursor: pointer;
}

.card_icon{
    height: 20px;
    width: 20px;
    position: relative;
    top: 5px;
    margin-right: 12px;
}

/* Card of Explore our Other Courses */

.explore_card_text{
    text-align: center;
}

.explore_card_text>p{
    margin: 7px 0px
}

.explore_card_text>h5{
    font-size: 17px;
}

.explore_cards>img{
    width: 240px;
    height: 125px;
}